/* @ts-nocheck */
/* ECLIPSE v1.0.0 || By Tristan (Tris) Wentworth */

/* importing fonts 👏👏 */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400..700;1,400..700&display=swap");

/* CATEGORY: body, html stuffs */

*::before, *::after {
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding:0;
  font-family: "Instrument Sans";
  max-width:100vw;
  background-color: #fcfcfc;
}

body.login {
    
  overflow:hidden;
}

a {
    text-decoration: none;
    color: #fcfcfc;
}
/* CATEGORY: sidebar */
.sidebar {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;

  border-right: 1px rgba(252, 252, 252, 0.1);
  background: #1e0843;
}

.sidebar ul.communities {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
  align-self: stretch;
}

/* CATEGORY: buttons */
.btn {
  border: none;
  display: flex;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background-color: #fcfcfc;
  color: #1e0843;
  transition: all 0.2s ease;

  font-family: "Instrument Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.btn:hover {
    cursor:pointer;
    backdrop-filter: brightness(60%);
  }

.btn:active {
  transform: scale(0.98);
}


.btn.rounded {
  border-radius: 30px;
}

.btn.outline {
    border: 1px solid #fcfcfc;
    background:none;
    color: #fcfcfc;
}

.btn.primary {
  background: #7241ff;
  color: #fcfcfc;
}


.btn.secondary {
  background: #45237a;
  color: #fcfcfc;
}
.btn.tertiary {
  background: #eec643;
  color: #1e0843;
}

.btn:hover {
    transform: scale(1.1);
}

.btn.xxs {
    height:16px;
}

.btn.xs {
  height: 30px;
}

.btn-sm {
  height: 40px;
}

.btn-md {
  height: 45px;
}

.btn-lg {
  height: 50px;
}

.btn-xl {
  height: 60px;
}

.btn.sidebar {
  width: 50px;
  height: 50px;
}



.btn.text {
    backdrop-filter: none;
    background: none;
    color: #fcfcfc;
  }


/* CATEGORY:NAV BAR!!! */

ul.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 26px;
  background-color: #1E0843;
  gap:5px;
  margin:0;
}

.beginning {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    height: min-content;
    justify-self:flex-start;
}

ul.nav > li, ul.nav > * > li {
    list-style-type: none;
}

li a, .center a {
  transition: all 0.2s ease-in-out;
  color: #fcfcfc;
  text-decoration: none;
  font-size: 16px;
}

li a.btn.primary:hover {
    text-decoration:none;
    color: #fcfcfc;
}

li a:hover, .center a:hover {
    color: #7241FF;
    text-decoration: underline;
}

div.center {
    display: flex;
    align-items: center;
    gap: 13px;
    
    justify-content: center;
    height:min-content;
}

div.end {
    display: flex;
    align-items: center;
    gap: 10px;
    height:min-content;
    justify-content: flex-end;
}


/* CATEGORY: HERO */
div.hero {
    display: flex;
    flex-direction: column;
    gap:12px;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding:40px;
    background-size: cover;
    background-position: center;
    background-color: #45237A;
    color: #fcfcfc;
    text-align:center;
}

div.hero.dark {
    background-color: #1E0843;
    color: #fcfcfc;
    height:auto;
    text-align:left;
}

div.hero h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom:0;
    /* slight drop shadow */
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

div.hero p {
    font-size: 18px;
    margin-bottom:32px;
        /* slight drop shadow */

        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

div.hero .btn {
    width:50%;
}

/* show 'big-img' for desktop users, and 'small-img' for mobile visitors
 * by using media queries */

@media (min-width: 768px) {
  .big-img {
    display: block;
  }

  .small-img {
    display: none;
  }
}

@media (max-width: 767px) {
    .big-img {
    display: none;
  }

  .small-img {
    display: block;
  }
}

* {
    transition:all 0.1s ease-in-out;
}

@media (max-width:600px) {
    
    div.hero {
        height:80vh;
    }
}

@media (max-width:500px) {
    div.hero h1 {
        font-size:30px;
    }

    .features > p {
        font-size:15px;
        width:100%;
    }


    div.center {
        display:none;
    }
}

.logo {
    transition:all 0.2s ease-in-out;
}

.logo:hover {
transform: scale(1.05);
}

.btn.signup:hover {
    width:70%;
}

* {
    z-index: 999;
}

.x-1 {
    position:absolute;
    z-index:1;
    top:100px;
    width:100px;
    height:100px;
    left:5%;
    transform: rotate(2deg) scale(0.6);
    background-image:url('../images/squiggle_cross.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    animation: x-animation 4s infinite;
}

.x-2 {
    position:absolute;
    z-index:2;
    top:400px;
    width:100px;
    height:100px;
    right:5%;
    
    opacity: 0.3;
    transform: translateX(-50%);
    transform: rotate(2deg) scale(0.6);
    background-image:url('../images/discord_cross.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: x-animation 4s infinite;
}

@keyframes x-animation {
    0% {
        transform: rotate(2deg) scale(1);
    }
    50% {
        transform: rotate(-2deg) scale(1.1);
    }
    100% {
        transform: rotate(2deg) scale(1);
    }
}

/* CATEGORY: Features */
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    width:80%;
    background-color: #45237A;
    border-radius: 30px;
    text-align:left;
    transition: all 0.3s ease-in-out;
}

.features:hover {
    transform: scale(1.05);
}

.features > h2 {
    display:flex;
gap:12px;
align-items:center;
margin-bottom:0;

margin-top:0;
text-align: left;
margin:0;
}

.current-year {
    font-style:normal;
    text-decoration: none;
}

.features > p {
    margin-top:0;
    justify-self: start;
    text-align: left;
    
margin:0;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #1E0843;
    gap:24px;
    margin:0;
    color: #fcfcfc;
    text-align:center;
    padding-bottom: 40px;
}

footer > p {
margin-top:0;
height:min-content;
}

footer > .social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

footer > .links {
    display: flex;
    gap: 10px;
    
    justify-content: flex-end;
    align-items: center;
}

footer > .links a, .social-media > * {
    transition: all 0.2s ease-in-out;
    color: #fcfcfc;
    text-decoration: none;
    font-size: 16px;
}

footer > .links a:hover, .social-media > *:hover {
    color: #7241FF;
    text-decoration: underline;
}


footer > .desc {
    display:flex;
    flex-direction: column;
    gap:0px;
    align-items: flex-start;
    width:100%;
}

footer >.desc > p {
    margin-top:10px;
    margin-bottom:0;
    text-align: left;
}

footer .links a {
    display:flex;
    gap:5px;
    flex-direction: row;
}

@media (max-width:768px) {
    footer {
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
    }

    footer > desc {
        width:100%;
        justify-content: center;
        align-items: center;
        text-align:center;
    }
}


footer.sticky {
    position:fixed;
    left:0;
    bottom: 0;
    width:100%;
}

/* CATEGORY: special classes */

.flex {
    display:flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.center-align {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

input {
    font-weight:500;
    font-family: "Instrument Sans";
}

/* CATEGORY: INPUTS */
input[type="text"], input[type="email"], input[type="password"], textarea {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    border-radius: 12px;
border: 0.2px solid #808080;

background: #fcfcfc;
transition: all 0.2s ease-in-out;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    border: 2px solid #7241FF;
    outline: none;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover {
    transform:scale(1.02);
}

input.error {
    border: 2px solid #FF7777;
}

input.error:hover {
    border: 2px solid #FF7777;
}

input.success {
    border: 2px solid #00C3BC;
}

input.success:hover {
    border: 2px solid #00C3BC;
}

label {
    display:none;
    align-items: flex-start;
    text-align:left;
    gap: 8px;
    margin-bottom:5px;
}

label.error {
    color: #FF7777;
    font-size: 12px;
}

/* FORM (LOGIN/SIGNUP) */
form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align:center;
    gap: 20px;
    padding: 20px 20px;
    width:50%;
}


.hero > p {
    margin:0;
}


/* any number w (width) class */

.w-100 {
    width:100%;
}

.w-50 {
    width:50%;
}

.w-25 {
    width:25%;
}

.w-75 {
    width:75%;
}

.gap-5 {
    gap:5px;
}

.gap-10 {
    gap:10px;
}

.gap-15 {
    gap:15px;
}

.gap-20 {
    gap:20px;
}

.gap-30 {
    gap:30px;
}

@media (max-width: 500px) {
    form {
        width:100%;
    }
}

.nav.login {
        position:absolute;
        background: none;
        z-index: 1;
}

.nav.login .beginning {
    margin-top:10px;
    margin-left:5px;
}

.top-gradient {
    height:100vh;
    width:50vw;
    z-index:0;
    position:absolute;
    right:0;
    background: rgb(252,252,252);
background: linear-gradient(180deg, rgba(252,252,252,1) 0%, rgba(80,136,255,1) 0%, rgba(112,46,215,1) 100%);
}


.hero.login {
/* cosmetics */
background:none;
color: #1E0843;
border:none;

/* layout */
    width:40vw;
    height:100vh;
    max-height:100vh;
    padding:20px 50px;

    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.hero.login > .login-content > form {
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
    padding:0;
    margin:0;
    width:100%;
}

.hero.login .login-content h1 {
    box-shadow: none;
    text-shadow: none;
}

.hero.login > * {
    width:100%;
}

.alr-text {
    width:100%;
    text-align:Center;
}

.hero.login .login-content a {
    margin-bottom:0;
}
.hero.login .login-content h1 {
    margin-top:0;
}

.hero.login > .login-content {
    display:flex;
    flex-direction: column;
    gap: 26px;
    text-align: center;
    width:100%;
    justify-content: center;
    align-items: center;
    
}

.hero.login .login-content h2 {
    color: #505050;
    align-self: stretch;
font-family: "Instrument Sans";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 80%; /* 18.4px */
letter-spacing: -0.46px;
}

.hero.login .login-content button {
    width:100%;
}

.alr-text > a {
    color: #7241FF;
    
    transition: color 0.2s ease-in-out;
}

.alr-text > a:hover {
    color: #462081;
    text-decoration: underline;
}

@media (max-width:800px) {
    .top-gradient {
        display:none;
        width:0%;
        opacity: 0%;
    }

    body, html {
        margin:0;
        padding:0px;
        width:100vw;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .hero.login {
        width:80vw;
        max-width:100vw;
        padding:0px 0px;
    }
}